<!DOCTYPE html>
<html lang='en'
      layout:decorate='~{layout}'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
      xmlns:th='http://www.thymeleaf.org'>

<th:block layout:fragment='titleFragment'>
  <title th:text='#{label.member-detail}'>MEMBER DETAIL</title>
</th:block>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid' style='max-width: 30%'>
    <form class='row g-3' th:object='${memberReadResponse}'>
      <div class='col-12' hidden>
        <label class='form-label' for='id' th:text='#{label.member.id}'>ID</label>
        <input class='form-control' id='id' readonly th:field='*{id}' th:id='id'>
      </div>
      <div class='col-12'>
        <label class='form-label' for='email' th:text='#{label.member.email}'>Email</label>
        <input class='form-control' id='email' readonly th:field='*{email}' th:id='email'>
      </div>
      <div class='col-12'>
        <label class='form-label' for='nickname' th:text='#{label.member.nickname}'>Nickname</label>
        <input class='form-control' id='nickname' readonly th:field='*{nickname}' th:id='nickname'>
      </div>
      <div class='col-12'>
        <label class='form-label' for='role' th:text='#{label.member.role}'>Role</label>
        <input class='form-control' id='role' readonly th:id='role' th:value='#{__${memberReadResponse.role}__}'
               type='text'>
      </div>
      <div class='col-12'>
        <label class='form-label' for='status' th:text='#{label.member.status}'>Status</label>
        <input class='form-control' id='status' readonly th:id='status' th:value='#{__${memberReadResponse.status}__}'>
      </div>
      <div class='col-12'>
        <label class='form-label' for='auth-provider' th:text='#{label.member.auth_provider}'>Auth-Provider</label>
        <input class='form-control' id='auth-provider' readonly th:field='*{latestAuthProvider}' th:id='auth-provider'>
      </div>
    </form>
    <div class='col-12 mt-4' style='text-align: center;'>
      <button class='btn btn-outline-primary'
              th:onclick='moveToEditPage([[${memberReadResponse.id}]])'
              th:text='#{label.button.edit}'>
      </button>
      <button class='btn btn-outline-danger'
              sec:authorize='hasRole("ADMIN")'
              th:if='${memberReadResponse.email ne #authentication.name and memberReadResponse.status.name() eq "ACTIVE"}'
              th:onclick='deleteByAdmin()'
              th:text='#{label.button.inactivate}'>
      </button>
      <button class='btn btn-outline-danger'
              th:if='${memberReadResponse.email eq #authentication.name and memberReadResponse.status.name() eq "ACTIVE"}'
              th:onclick='deleteByOwner()'
              th:text='#{label.button.delete}'>
      </button>
    </div>
  </div>
  <th:block layout:fragment='customScriptFragment'>
    <script th:src='@{/js/member-api.js}' type='text/javascript'></script>
  </th:block>
</th:block>
</html>