<!DOCTYPE html>
<html lang='en'
      layout:decorate='~{layout}'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:th='http://www.thymeleaf.org'>

<th:block layout:fragment='titleFragment'>
  <title th:text='#{label.member-list}'>MEMBER LIST</title>
</th:block>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid' style='max-width: 80%'>
    <div class='card shadow mb-4'>
      <div class='card-header py-3'>
        <h6 class='m-0 font-weight-bold text-primary' th:text='#{label.member-list}'>MEMBER LIST</h6>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table cellspacing='0' class='table table-bordered' id='dataTable' width='100%'>
            <thead>
            <tr>
              <th th:text='#{label.member.id}'>id</th>
              <th th:text='#{label.member.email}'>email</th>
              <th th:text='#{label.member.nickname}'>nickname</th>
              <th th:text='#{label.member.role}'>role</th>
              <th th:text='#{label.member.status}'>status</th>
              <th th:text='#{label.member.auth_provider}'>auth-provider</th>
            </tr>
            </thead>
            <tbody>
            <tr style='cursor: pointer' th:each='member : ${memberReadResponses}'
                th:onclick='moveToDetailPage([[${member.id}]])'>
              <td th:text='${member.id}'></td>
              <td th:text='${member.email}'></td>
              <td th:text='${member.nickname}'></td>
              <td th:text='${member.role}'></td>
              <td th:text='${member.status}'></td>
              <td th:text='${member.latestAuthProvider}'></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <nav style='text-align: center;' class='mb-4'>
      <ul class='pagination justify-content-center'
          th:with='start=${T(Math).floor(memberReadResponses.number / 5) * 5 + 1},
                   last=${start + 4 < memberReadResponses.totalPages ? start + 4 : memberReadResponses.totalPages}'>
        <li class='page-item'>
          <a class='page-link' th:href='@{/members(page=0)}' aria-label='First'>
            <span aria-hidden='true'>First</span>
          </a>
        </li>
        <li class='page-item' th:class='|${memberReadResponses.isFirst()} ? disabled|'>
          <a th:href="${memberReadResponses.isFirst()} ? '#' : @{/members(page=${memberReadResponses.number})}"
             class='page-link' aria-label='Previous'>
            <span aria-hidden='true'>&laquo;</span>
          </a>
        </li>
        <li th:each='page : ${#numbers.sequence(start, last)}'
            th:classappend="${page == memberReadResponses.pageable.pageNumber + 1} ? 'active'" class='page-item'>
          <a th:href='@{/members(page=${page})}' class='page-link' th:text='${page}'></a>
        </li>
        <li class='page-item' th:class='|${memberReadResponses.isLast()} ? disabled|'>
          <a th:href="${memberReadResponses.isLast()} ? '#' : @{/members(page=${memberReadResponses.number + 2})}"
             class='page-link' aria-label='Next'>
            <span aria-hidden='true'>&raquo;</span>
          </a>
        </li>
        <li class='page-item'>
          <a class='page-link' th:href='@{/members(page=${memberReadResponses.totalPages})}' aria-label='Last'>
            <span aria-hidden='true'>Last</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
  <th:block layout:fragment='customScriptFragment'>
    <script th:src='@{/js/member-api.js}' type='text/javascript'></script>
  </th:block>
</th:block>
</html>