<!DOCTYPE html>
<html lang='en'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      layout:decorate='~{layout}'>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid'>
    <table class='table table-hover table-bordered'>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>nickname</th>
        <th>role</th>
        <th>status</th>
        <th>auth-provider</th>
      </tr>
      <tr style='cursor: pointer' th:each='member : ${memberReadResponses}'
          th:onclick='rowClicked([[${member.id}]])'>
        <td th:text='${member.id}'></td>
        <td th:text='${member.email}'></td>
        <td th:text='${member.nickname}'></td>
        <td th:text='${member.role}'></td>
        <td th:text='${member.status}'></td>
        <td th:text='${member.latestAuthProvider}'></td>
      </tr>
    </table>
  </div>
  <script>
    function rowClicked(memberId) {
      location.href = '/members/' + memberId;
    }
  </script>
</th:block>
</html>
