<!DOCTYPE html>
<html lang='en'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
      layout:decorate='~{layout}'>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid'>
    <div class='card border-success container-fluid' style='max-width: 80%;'>
      <div class='card-header bg-transparent border-success' th:text='${postReadResponse.nickname}'>Header</div>
      <div class='card-body text-success'>
        <h5 class='card-title' th:text='${postReadResponse.title}'>title</h5>
        <p class='card-text' th:text='${postReadResponse.content}'>content</p>
      </div>
      <div class='card-footer bg-transparent border-success' th:text='${postReadResponse.openedAt}'>Footer</div>
    </div>
  </div>
  <div class='col-12 mt-4' style='text-align: center;' sec:authorize='hasAnyRole("ADMIN", "MANAGER")'>
    <button class='btn btn-outline-primary'>수정</button>
    <button class='btn btn-outline-danger'>삭제</button>
  </div>
</th:block>

</html>