<!DOCTYPE html>
<html lang='en'
      layout:decorate='~{layout}'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
      xmlns:th='http://www.thymeleaf.org'>

<th:block layout:fragment='titleFragment'>
  <title th:text='#{label.post-edit}'>POST EDIT</title>
</th:block>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid'>
    <div class='card border-success container-fluid' style='max-width: 80%;'>
      <div class='card-header bg-transparent border-success' th:text='${postReadResponse.nickname}'>Header</div>
      <div class='card-body text-success'>
        <form class='row g-3' th:object='${postEditRequest}'>
          <div class='col-12'>
            <input class='form-control' id='id' th:field='${postReadResponse.id}' hidden>
          </div>
          <div class='col-12'>
            <label class='form-label' for='title' th:text='#{label.post.title}'></label>
            <input class='card-title form-control' id='title' th:field='*{title}'
                   th:placeholder='${postReadResponse.title}' />
          </div>
          <div class='col-12'>
            <label class='form-label' for='content' th:text='#{label.post.content}'></label>
            <textarea class='form-control card-text' id='content' th:field='*{content}'
                      th:placeholder='${postReadResponse.content}'></textarea>
          </div>
          <div class='col-12'>
            <label class='form-label' for='openedAt' th:text='#{label.post.opened-at}'></label>
            <input class='form-control card-text' id='openedAt' th:field='*{openedAt}' type='datetime-local'>
          </div>
          <div class='col-12'>
            <label class='form-label' for='closedAt' th:text='#{label.post.closed-at}'></label>
            <input class='form-control card-text' id='closedAt' th:field='*{closedAt}' type='datetime-local'>
          </div>
        </form>
      </div>
      <div class='card-footer bg-transparent border-success'
           th:text='${#temporals.format(postReadResponse.openedAt, "yyyy-MM-dd HH:mm:ss")}'>Footer
      </div>
    </div>
  </div>
  <div class='col-12 mt-4' sec:authorize='hasAnyRole("ADMIN", "MANAGER")' style='text-align: center;'>
    <button class='btn btn-outline-primary'
            th:onclick='editPost()'
            th:text='#{label.button.edit}'>수정
    </button>
  </div>

  <th:block layout:fragment='customScriptFragment'>
    <script th:src='@{/js/post-api.js}' type='text/javascript'></script>
  </th:block>
</th:block>

</html>