<!DOCTYPE html>
<html lang='en'
      layout:decorate='~{layout}'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:th='http://www.thymeleaf.org'>

<th:block layout:fragment='titleFragment'>
  <title th:text='#{label.post-list}'>POST LIST</title>
</th:block>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid'>
    <div class='card shadow mb-4'>
      <div class='card-header py-3'>
        <h6 class='m-0 font-weight-bold text-primary' th:text='#{label.post-list}'>POST LIST</h6>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table cellspacing='0' class='table table-bordered' id='dataTable' width='100%'>
            <thead>
            <tr>
              <th width='20%' th:text='#{label.member.nickname}'>nickname</th>
              <th width='40%' th:text='#{label.post.title}'>title</th>
              <th width='40%' th:text='#{label.post.opened-at}'>opened-at</th>
            </tr>
            </thead>
            <tbody>
            <tr style='cursor: pointer' th:each='post : ${postReadResponses}'
                th:onclick='moveToDetailPage([[${post.id}]])'>
              <td th:text='${post.nickname}'></td>
              <td th:text='${post.title}'></td>
              <td th:text='${#temporals.format(post.openedAt, "yyyy-MM-dd HH:mm")}'></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <nav style='text-align: center;' class='mb-4'>
      <ul class='pagination justify-content-center'
          th:with='start=${T(Math).floor(postReadResponses.number / 5) * 5 + 1},
                   last=${start + 4 < postReadResponses.totalPages ? start + 4 : postReadResponses.totalPages}'>
        <li class='page-item'>
          <a class='page-link' th:href='@{/posts(page=0)}' aria-label='First'>
            <span aria-hidden='true'>First</span>
          </a>
        </li>
        <li class='page-item' th:class='|${postReadResponses.isFirst()} ? disabled|'>
          <a th:href="${postReadResponses.isFirst()} ? '#' : @{/posts(page=${postReadResponses.number})}"
             class='page-link' aria-label='Previous'>
            <span aria-hidden='true'>&laquo;</span>
          </a>
        </li>
        <li th:each='page : ${#numbers.sequence(start, last)}'
            th:classappend="${page == postReadResponses.pageable.pageNumber + 1} ? 'active'" class='page-item'>
          <a th:href='@{/posts(page=${page})}' class='page-link' th:text='${page}'></a>
        </li>
        <li class='page-item' th:class='|${postReadResponses.isLast()} ? disabled|'>
          <a th:href="${postReadResponses.isLast()} ? '#' : @{/posts(page=${postReadResponses.number + 1})}"
             class='page-link' aria-label='Next'>
            <span aria-hidden='true'>&raquo;</span>
          </a>
        </li>
        <li class='page-item'>
          <a class='page-link' th:href='@{/posts(page=${postReadResponses.totalPages})}' aria-label='Last'>
            <span aria-hidden='true'>Last</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
  <th:block layout:fragment='customScriptFragment'>
    <script th:src='@{/js/post-api.js}' type='text/javascript'></script>
  </th:block>
</th:block>
</html>