<!DOCTYPE html>
<html lang='en'
      layout:decorate='~{layout}'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:th='http://www.thymeleaf.org'>

<th:block layout:fragment='titleFragment'>
  <title th:text='#{label.post-list}'>POST LIST</title>
</th:block>

<th:block layout:fragment='contentFragment'>
  <div class='container-fluid'>
    <div class='card shadow mb-4'>
      <div class='card-header py-3'>
        <h6 class='m-0 font-weight-bold text-primary' th:text='#{label.post-list}'>POST LIST</h6>
      </div>
      <div class='card-body'>
        <div class='table-responsive'>
          <table cellspacing='0' class='table table-bordered' id='dataTable' width='100%'>
            <thead>
            <tr>
              <th width='20%' th:text='#{label.member.nickname}'>nickname</th>
              <th width='40%' th:text='#{label.post.title}'>title</th>
              <th width='40%' th:text='#{label.post.opened-at}'>opened-at</th>
            </tr>
            </thead>
            <tbody>
            <tr style='cursor: pointer' th:each='post : ${postReadResponses}'
                th:onclick='moveToDetailPage([[${post.id}]])'>
              <td th:text='${post.nickname}'></td>
              <td th:text='${post.title}'></td>
              <td th:text='${#temporals.format(post.openedAt, "yyyy-MM-dd HH:mm")}'></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='pagination' th:if='${postReadResponses.totalPages > 0}'>
        <div th:each='pageNumber : ${#numbers.sequence(1, postReadResponses.totalPages)}'>
          <a th:href='@{/posts(page=${pageNumber} - 1)}'
             th:text='${pageNumber}'
             th:class='${pageNumber == postReadResponses.number + 1} ? active'>
          </a>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment='customScriptFragment'>
    <script th:src='@{/js/post-api.js}' type='text/javascript'></script>
  </th:block>
</th:block>
</html>