<!DOCTYPE html>
<html lang='en'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'>

<head th:fragment='headFragment'>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>

  <title layout:fragment='titleFragment'>Thymeleaf</title>

  <!-- Bootstrap -->
  <link rel='stylesheet' th:href='@{/css/sb-admin-2.min.css}' />
  <link rel='stylesheet' th:href='@{/vendor/fontawesome-free/css/all.min.css}' />
</head>
</html>