<!DOCTYPE html>
<html lang='en'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
      xmlns:th='http://www.thymeleaf.org'>

<th:block th:fragment='navbarFragment'>
  <!-- Navbar -->
  <nav class='navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow'>

    <!-- Sidebar Toggle (NavBar) -->
    <button class='btn btn-link d-md-none rounded-circle mr-3' id='sidebarToggleTop'>
      <i class='fa fa-bars'></i>
    </button>

    <!-- NavBar Navbar -->
    <ul class='navbar-nav ml-auto'>

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class='nav-item dropdown no-arrow d-sm-none'>
        <a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown'
           href='#' id='searchDropdown' role='button'>
          <i class='fas fa-search fa-fw'></i>
        </a>
        <!-- Dropdown - Messages -->
        <div aria-labelledby='searchDropdown'
             class='dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in'>
          <form class='form-inline mr-auto w-100 navbar-search'>
            <div class='input-group'>
              <input aria-describedby='basic-addon2' aria-label='Search'
                     class='form-control bg-light border-0 small' placeholder='Search for...'
                     type='text'>
              <div class='input-group-append'>
                <button class='btn btn-primary' type='button'>
                  <i class='fas fa-search fa-sm'></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Nav Item - User Information -->
      <li class='nav-item dropdown no-arrow'>
        <a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown'
           href='#' id='userDropdown' role='button'>
          <span class='mr-2 d-none d-lg-inline text-gray-600 small'>
            <div sec:authentication='name'></div>
          </span>
          <img class='img-profile rounded-circle'
               th:src='@{/img/undraw_profile.svg}'>
        </a>
        <!-- Dropdown - User Information -->
        <div aria-labelledby='userDropdown' class='dropdown-menu dropdown-menu-right shadow animated--grow-in'>
          <a class='dropdown-item' th:href='@{/members/my-page}'>
            <i class='fas fa-user fa-sm fa-fw mr-2 text-gray-400'></i>
            <span th:text='#{profile}'></span>
          </a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='/login' sec:authorize='isAnonymous()'>
            <i class='fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400'></i>
            <span th:text='#{login}'></span>
          </a>
          <a class='dropdown-item' data-target='#logoutModal' data-toggle='modal' href='#'
             sec:authorize='isAuthenticated()'>
            <i class='fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400'></i>
            <span th:text='#{logout}'></span>
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- End of NavBar -->

  <!-- Logout Modal-->
  <div aria-hidden='true' aria-labelledby='exampleModalLabel' class='modal fade' id='logoutModal'
       role='dialog' tabindex='-1'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='exampleModalLabel' th:text='#{logout.ask}'></h5>
          <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
            <span aria-hidden='true'>×</span>
          </button>
        </div>
        <div class='modal-body' th:text='#{logout.description}'></div>
        <div class='modal-footer'>
          <button class='btn btn-secondary' data-dismiss='modal' th:text='#{cancel}' type='button'>Cancel</button>
          <a class='btn btn-primary' th:href='@{/logout}' th:text='#{logout}'>Logout</a>
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>