<!DOCTYPE html>
<html lang='en' xmlns:th='http://www.thymeleaf.org'>
<head>
  <meta charset='UTF-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>

  <title>5xx Error</title>

  <link rel='stylesheet' th:href='@{/css/sb-admin-2.min.css}' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet'
        href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'>
</head>

<body>
<div class='container-fluid'>
  <div class='text-center'>
    <h2 class='text-center mt-5'><span class='material-icons'>error</span><br />
      서버에 이상이 있어요<br />
      잠시 후 다시 시도해주세요
    </h2>
    <div th:text='${message}'></div>
    <br /><br />
    <div th:if='${message eq "이미 탈퇴한 회원입니다"}'>
      <a href='/logout' class='text-center mt-2'>메인으로 돌아가기</a>
    </div>
    <div th:unless='${message eq "이미 탈퇴한 회원입니다"}'>
      <a href='/' class='text-center mt-2'>메인으로 돌아가기</a>
    </div>
    <br /><br />

    <img src='img/crazy-cat.gif' alt='' style='max-width: 100%; margin: auto'>
  </div>
</div>
</body>
</html>