<!DOCTYPE html>
<html lang='en'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'>
<!-- Head -->
<th:block th:replace='/fragments/head :: headFragment'></th:block>

<body id='page-top'>
<div id='wrapper'>

  <!-- SideBar -->
  <th:block th:replace='/fragments/sidebar :: sidebarFragment'></th:block>

  <div id='content-wrapper' class='d-flex flex-column'>
    <div id='content'>
      <!-- NavBar -->
      <th:block th:replace='/fragments/navbar :: navbarFragment'></th:block>

      <!-- Content -->
      <th:block layout:fragment='contentFragment'></th:block>
    </div>

    <!-- Footer -->
    <th:block th:replace='/fragments/footer :: footerFragment'></th:block>
  </div>
</div>

<!-- Script -->
<th:block th:replace='/fragments/script :: scriptFragment'></th:block>
</body>
</html>