<!DOCTYPE html>
<html lang='en'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
      xmlns:th='http://www.thymeleaf.org'>
<!-- Head -->
<th:block th:replace='/fragments/head :: headFragment'></th:block>

<body id='page-top'>
<div id='wrapper'>

  <!-- SideBar -->
  <th:block th:replace='/fragments/sidebar :: sidebarFragment'></th:block>

  <div class='d-flex flex-column' id='content-wrapper'>
    <div id='content'>
      <!-- NavBar -->
      <th:block th:replace='/fragments/navbar :: navbarFragment'></th:block>

      <!-- Content -->
      <th:block layout:fragment='contentFragment'></th:block>
    </div>

    <!-- Footer -->
    <th:block th:replace='/fragments/footer :: footerFragment'></th:block>
  </div>

  <a class='scroll-to-top rounded' href='#page-top'>
    <i class='fas fa-angle-up'></i>
  </a>
</div>

<!-- Script -->
<th:block th:replace='/fragments/script :: scriptFragment'></th:block>
</body>
</html>