<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>로그인</h2>
    <br/>
    <a class="btn"
       href="https://accounts.google.com/o/oauth2/v2/auth?scope=email%20profile%20https://www.googleapis.com/auth/userinfo.email%20openid%20https://www.googleapis.com/auth/userinfo.profile&access_type=offline&response_type=code&redirect_uri=https://localhost:8443/token/google&client_id=447668502695-ild1rm5sbivb9inkrvuidd89agpmc26g.apps.googleusercontent.com&prompt=login">구글
        로그인!!</a>
    <br/>
    <a class="btn_social btn-secondary active" data-social="google" href="javascript:" role="button">Google Login</a>
    <br/>
    <a class="btn_social btn-secondary active" data-social="naver" href="javascript:" role="button">Naver Login</a>
    <br/>
</div>

<script>
    let socials = document.getElementsByClassName("btn_social");
    for (let social of socials) {
        social.addEventListener('click', function () {
            let socialType = this.getAttribute('data-social');
            location.href = "/oauth2/authorization/" + socialType + "?access_type=offline";
        })
    }
</script>
</body>
</html>